{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Thermos -- Add a URL
{%  endblock %}

{% block content %}
    <section>
        <h1>Add a new requirement</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.text, size=50) }}
                <td>Choose product version:</td>
                {% for name in products %}
                    {{ render_field(form[name]) }}
                 {% endfor %}
                {{ render_field(form.product_version_new, size=50) }}

                <tr class="submit">
                    <td></td>
                    <td><button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}