{% extends "base.html" %}
{% from "form_macros.html" import render_field %}
{% from "form_macros.html" import render_req %}

{% block title %}
Edit requirement with nid {{ requirement.nid }}
{%  endblock %}

{% block content %}
<section>
    <h1>Edit requirement</h1>

    <form action="" method="post">
        {{form.hidden_tag()}}
        <table>
                    <p>
            {{ render_req(reqs) }}
        </p>
            {{ render_field(form.text, size=50) }}
                <td>Choose product version:</td>
                {% for name in products %}
                   <td> {{ render_field(form[name]) }} </td>
                 {% endfor %}
                {{ render_field(form.product_version_new, size=50) }}

            <tr class="submit">
                <td></td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    </form>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}